<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
           http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd
           http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd">

	<!-- sessionFactory -->
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
		<property name="configLocation">
			<value>classpath:hibernate.cfg.xml</value>
		</property>
	</bean>

	<bean id="transactionManager"
		class="org.springframework.orm.hibernate3.HibernateTransactionManager">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>

	<bean id="messageSource"
		class="org.springframework.context.support.ResourceBundleMessageSource">
		<property name="basename" value="message" />
	</bean>

	<bean id="ObjectManagerImpl"
		class="bysj.net.manager.ObjectManagerImpl" />

	<!-- ====================================================== -->
	<bean id="LoginAction" class="bysj.net.action.LoginAction">
		<property name="objectManager" ref="ObjectManagerImpl" />
	</bean>
	<bean id="UserAction" class="bysj.net.action.UserAction">
		<property name="objectManager" ref="ObjectManagerImpl" />
	</bean>

	<bean id="FenLeiAction" class="bysj.net.action.FenLeiAction">
		<property name="objectManager" ref="ObjectManagerImpl" />
	</bean>
	<bean id="DangAnAction" class="bysj.net.action.DangAnAction">
		<property name="objectManager" ref="ObjectManagerImpl" />
	</bean>
	<bean id="LiuYanAction" class="bysj.net.action.LiuYanAction">
		<property name="objectManager" ref="ObjectManagerImpl" />
	</bean>
	<bean id="ZhuanChuAction" class="bysj.net.action.ZhuanChuAction">
		<property name="objectManager" ref="ObjectManagerImpl" />
	</bean>
	<bean id="ZhuanRuAction" class="bysj.net.action.ZhuanRuAction">
		<property name="objectManager" ref="ObjectManagerImpl" />
	</bean>
	<bean id="JiLuAction" class="bysj.net.action.JiLuAction">
		<property name="objectManager" ref="ObjectManagerImpl" />
	</bean>
</beans>